In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import os

pd.set_option('display.float_format', lambda x: '%.2f' % x)


DATA_PATH = '/Users/kaiqu/kaggle-datasets/example_test_files/test.csv'

# Load data from CSV
df = pd.read_csv(DATA_PATH)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33000 entries, 0 to 32999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   stock_id                 33000 non-null  int64
 1   date_id                  33000 non-null  int64
 2   seconds_in_bucket        33000 non-null  int64
 3   imbalance_size           33000 non-null  float64
 4   imbalance_buy_sell_flag  33000 non-null  int64
 5   reference_price          33000 non-null  float64
 6   matched_size             33000 non-null  float64
 7   far_price                14771 non-null  float64
 8   near_price               15000 non-null  float64
 9   bid_price                33000 non-null  float64
 10  bid_size                 33000 non-null  float64
 11  ask_price                33000 non-null  float64
 12  ask_size                 33000 non-null  float64
 13  wap                      33000 non-null  float64
 14  time_id                  33000 non-null  int64
 15  row_id                   33000 non-null  object
 16  currently_scored         33000 non-null  bool
dtypes: bool(1), float64(10), int64(5), object(1)
memory usage: 4.1+ MB

In [23]:
df.describe()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id
count,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00,14771.00,15000.00,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00
mean,99.50,479.00,270.00,6636938.94,-0.15,1.00,50988974.38,1.00,1.00,1.00,63294.90,1.00,66512.53,1.00,26372.00
std,57.74,0.82,158.75,18468274.42,0.92,0.00,169510516.92,0.02,0.01,0.00,104273.62,0.00,141507.30,0.00,47.63
min,0.00,478.00,0.00,0.00,-1.00,0.97,4316.61,0.80,0.89,0.97,25.87,0.97,35.34,0.97,26290.00
25%,49.75,478.00,130.00,333351.29,-1.00,1.00,5956302.84,0.99,1.00,1.00,9993.66,1.00,12122.94,1.00,26331.00
50%,99.50,479.00,270.00,1652494.61,-1.00,1.00,13227114.30,1.00,1.00,1.00,28766.32,1.00,32314.84,1.00,26372.00
75%,149.25,480.00,410.00,5296196.90,1.00,1.00,34777208.05,1.00,1.00,1.00,71123.38,1.00,75120.55,1.00,26413.00
max,199.00,480.00,540.00,478154802.33,1.00,1.01,2834016755.07,1.36,1.10,1.01,3033797.92,1.01,13092094.40,1.01,26454.00

In [24]:
df.isnull().sum()

stock_id                       0
date_id                        0
seconds_in_bucket              0
imbalance_size                 0
imbalance_buy_sell_flag        0
reference_price                0
matched_size                   0
far_price                  18229
near_price                 18000
bid_price                      0
bid_size                       0
ask_price                      0
ask_size                       0
wap                            0
time_id                        0
row_id                         0
currently_scored               0
dtype: int64

In [25]:
df[df['near_price'].isnull()]['far_price'].isnull().sum() # n: when near_price is null, far_price is null as well

18000

In [26]:
# investigate the relationship between revealved_targets.csv and test_data.csv
df_test = pd.read_csv('/Users/kaiqu/kaggle-datasets/example_test_files/test.csv')
df_revealed = pd.read_csv('/Users/kaiqu/kaggle-datasets/example_test_files/revealed_targets.csv')

In [27]:
df_revealed.describe() # ? why there are more seconds_in_buckets than the stock_id?

,stock_id,date_id,seconds_in_bucket,time_id,revealed_target,revealed_date_id,revealed_time_id
count,33000.00,33162.00,33162.00,33162.00,33000.00,33000.00,33000.00
mean,99.50,479.00,270.02,26345.13,-0.16,478.00,26317.00
std,57.74,0.82,158.73,44.96,8.03,0.82,47.63
min,0.00,478.00,0.00,26290.00,-144.38,477.00,26235.00
25%,49.75,478.00,130.00,26290.00,-3.92,477.00,26276.00
50%,99.50,479.00,270.00,26345.00,-0.14,478.00,26317.00
75%,149.25,480.00,410.00,26400.00,3.62,479.00,26358.00
max,199.00,480.00,540.00,26454.00,77.13,479.00,26399.00

In [28]:
if not os.path.exists('revelead_targets.csv'):
    df_revealed.to_csv('revelead_targets.csv')

In [29]:
df_test.describe()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,time_id
count,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00,14771.00,15000.00,33000.00,33000.00,33000.00,33000.00,33000.00,33000.00
mean,99.50,479.00,270.00,6636938.94,-0.15,1.00,50988974.38,1.00,1.00,1.00,63294.90,1.00,66512.53,1.00,26372.00
std,57.74,0.82,158.75,18468274.42,0.92,0.00,169510516.92,0.02,0.01,0.00,104273.62,0.00,141507.30,0.00,47.63
min,0.00,478.00,0.00,0.00,-1.00,0.97,4316.61,0.80,0.89,0.97,25.87,0.97,35.34,0.97,26290.00
25%,49.75,478.00,130.00,333351.29,-1.00,1.00,5956302.84,0.99,1.00,1.00,9993.66,1.00,12122.94,1.00,26331.00
50%,99.50,479.00,270.00,1652494.61,-1.00,1.00,13227114.30,1.00,1.00,1.00,28766.32,1.00,32314.84,1.00,26372.00
75%,149.25,480.00,410.00,5296196.90,1.00,1.00,34777208.05,1.00,1.00,1.00,71123.38,1.00,75120.55,1.00,26413.00
max,199.00,480.00,540.00,478154802.33,1.00,1.01,2834016755.07,1.36,1.10,1.01,3033797.92,1.01,13092094.40,1.01,26454.00

In [30]:
if not os.path.exists('test_data.csv'):
    df.to_csv('test_data.csv')